<div class="wid">
    <div class="flexbox">
        <aside class="sidebar blank width-23rem">
            <ul class="menu large">
                <li class="bottom-padded">
                    <a href="#">
                        <i class="fas fa-plus-circle text-green"></i>
                        <span>{_wp('Новое уведомление')}</span>
                    </a>
                </li>
            </ul>
        </aside>
        <main class="content">
            <div class="article wider">
                <div class="article-body">
                    <header>
                        <h1>Уведомления о сгорании бонусов</h1>
                    </header>
                </div>
            </div>
        </main>
    </div>
</div>
