.s-burningbonus-notifications-body {
  display: flex;
  align-items: stretch;
  column-gap: 12px;
  position: relative;
}
.s-burningbonus-notifications-body form .field {
  display: grid;
  grid-template-columns: 180px auto;
  column-gap: 10px;
}
.s-burningbonus-notifications-body form .name {
  grid-column: 1;
  display: initial;
}
.s-burningbonus-notifications-body form .value {
  grid-column: 2;
  margin: 2px 0 !important;
  display: initial;
}
.s-burningbonus-notifications-body form .value:last-child {
  margin-bottom: 0 !important;
}
.s-burningbonus-notifications-body form .value label > .icon16 {
  margin: 2px 3px;
}
.s-burningbonus-notifications-body form .value label input[type=radio] {
  vertical-align: middle;
}
.s-burningbonus-notifications-sidebar {
  flex: 0 0 250px;
}
.s-burningbonus-notifications-main {
  flex: 1 1 100%;
  min-width: 350px;
  position: relative;
}
.s-burningbonus-notifications-main header {
  display: grid;
  grid-template-columns: auto max-content;
  padding: 0.75rem;
  background-color: #fafafa;
}
.s-burningbonus-notifications-main header h2 {
  margin: 0;
  line-height: normal;
}
.s-burningbonus-notifications-main .field-group {
  margin: 25px 0;
}
.s-burningbonus-notifications-main .s-burningbonus-notifications-message-editor-delete-wrapper a {
  white-space: nowrap;
}
.s-burningbonus-notifications-preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-burningbonus-notifications-preloader img {
  display: block;
  flex: 0 0 0;
}
