<p>Здравствуйте, <b>{$customer->get('firstname')}</b>!</p>

<p>На вашем бонусном счёте в нашем магазине сейчас {$customer->affiliateBonus()} бонусных баллов, которые вы можете
  использовать при оплате заказа. Согласно правилам нашей бонусной программы, баллы действуют в
  {$wa->shop->burningbonusPlugin->duration()} дней с момента начисления, а неиспользованные бонусные баллы
  аннулируются в начале каждой недели.</p>

<p>Если вы не используете на этой неделе <b>{$burning_amount}</b> бонусов, то они сгорят!</p>

<p>--<br>
  {$wa->shop->settings("name")}<br>
  <a href="mailto:{$wa->shop->settings("email")}">{$wa->shop->settings("email")}</a><br>
  {$wa->shop->settings("phone")}<br>
</p>
