<form action="?plugin=burningbonus&module=settings&action=saveaffiliate" id="s-settings-affiliate-burningbonus-form"
      method="post">
    <div class="fields form">
        <div class="field">
            <div class="name">Срок действия бонусов</div>
            <div class="value">
                <input name="setting[lifetime]" type="number" min="0" step="1" value="{$settings.lifetime}"
                       class="short numerical"> дней
            </div>
        </div>
        <div class="field">
            <div class="name">[`Периодичность сгорания`]</div>
            <div class="value no-shift">
                <ul class="menu-v">
                    <li>
                        <label><input type="radio" name="setting[period]"
                                      value="never"{if 'never'===$settings.period} checked{/if}>
                            Никогда <span class="hint">— плагин выключен</span></label>
                    </li>
                    <li><label><input type="radio" name="setting[period]"
                                      value="weekly"{if 'weekly'===$settings.period} checked{/if}>
                            Еженедельно <span class="hint">— в начале каждой недели, по понедельникам</span></label>
                    </li>
                    <li><label><input type="radio" name="setting[period]"
                                      value="monthly"{if 'monthly'===$settings.period} checked{/if}>
                            Ежемесячно <span class="hint">— в начале каждого месяца, 1-го числа</span></label></li>
                </ul>
            </div>
        </div>
        <div class="field">
            <div class="name">
                Отложить начало списания
            </div>
            <div class="value">
                до <input type="date" value="{$settings.delay}" min="{date('Y-m-d')}" name="setting[delay]"><br>
                <span class="hint">Эта настройка может пригодиться, если у покупателей уже есть накопленные бонусы и
                    нужно дать им какое-то время, чтобы они получали уведомления и успели истратить бонусы.</span>
            </div>
        </div>
    </div>
</form>
