<h1>Сгорание бонусов</h1>

<p>Бонусы, у которых есть срок действия, стимулируют покупателей чаще их использовать и, тем самым делать повторные
    заказы. Настройте также уведомления о сгорании бонусов, чтобы напомнить покупателям о магазине и стимулировать их
    сделать ещё заказ.</p>

<p style="display: block; padding: 5px; border: 1px solid #e9e9e9; margin: 1.5em 0">Списание бонусов и отправка уведомлений выполняются специальным скриптом, запускаемым по расписанию (cron).
    Настройте выполнение команды <br>
    <code
            style="font-family: monospace; display: inline-block; white-space: nowrap; background-color: #f9f9f9;
             padding: 2px; font-size: 90%; color: darkgreen">/usr/bin/flock -w 0 {$info['root_path']}/shop_burningbonus.lock [путь
        к интерпретатору php] {$info['root_path']}/cli.php shop burningbonus</code><br>
    в панели управления вашего хостинга (<a href="https://developers.webasyst.ru/docs/tips/cron/" target="_blank">документация
        по настройке<i class="icon16 new-window" style="vertical-align: middle"></i></a>).<br><br>
    <i class="icon16 exclamation" style="vertical-align: middle"></i>
    <b>[путь к интерпретатору php]</b> зависит от хостинга — узнайте правильное значение у вашего администратора или хостера,
    как правильно указать путь к php версии 7.4 или выше.
    <br><br>Рекомендуем поставить
    выполнение с периодичностью 1 раз в час.</p>


<form action="?plugin=burningbonus&module=settings&action=saveaffiliate" id="s-settings-affiliate-burningbonus-form"
      method="post">
    <div class="fields form">
        <div class="field">
            <div class="name">Срок действия бонусов</div>
            <div class="value">
                <input name="setting[lifetime]" type="number" min="0" step="1" value="{$settings.lifetime}"
                       class="short numerical" required/> дней
            </div>
        </div>
        <div class="field">
            <div class="name">[`Периодичность сгорания`]</div>
            <div class="value no-shift">
                <ul class="menu-v">
                    <li>
                        <label><input type="radio" name="setting[period]"
                                      value="never"{if 'never'===$settings.period} checked{/if}>
                            Никогда <span class="hint">— плагин выключен</span></label>
                    </li>
                    <li><label><input type="radio" name="setting[period]"
                                      value="weekly"{if 'weekly'===$settings.period} checked{/if}>
                            Еженедельно <span class="hint">— в начале каждой недели, по понедельникам</span></label>
                    </li>
                    <li><label><input type="radio" name="setting[period]"
                                      value="monthly"{if 'monthly'===$settings.period} checked{/if}>
                            Ежемесячно <span class="hint">— в начале каждого месяца, 1-го числа</span></label></li>
                </ul>
            </div>
        </div>
        <div class="field">
            <div class="name">
                Отложить начало списания
            </div>
            <div class="value">
                до <input type="date" value="{$settings.delay}" min="{date('Y-m-d')}" name="setting[delay]"><br>
                <span class="hint">Эта настройка может пригодиться, если у покупателей уже есть накопленные бонусы и
                    нужно дать им какое-то время, чтобы они получали уведомления и успели истратить бонусы.</span>
            </div>
        </div>

        <div class="submit field">
            <div class="submit value">
                <button type="submit" class="submit green button">Сохранить</button>
            </div>
        </div>
    </div>
</form>

<script>
    (function ($) {
        $('#s-settings-affiliate-burningbonus-form').off()
            .on('submit', function (event) {
                event.preventDefault();
                const $this = $(this);
                $('.submit.value', $this).append('<i class="icon16 loading"></i>');
                $.shop.jsonPost(
                    $this.attr('action'),
                    $this.serialize(),
                    () => {
                        $('.submit.value', $this).append('<span class="success green"><i class="icon16 yes" style="vertical-align: middle"></i>Записано</span>');
                        window.setTimeout(() => $('.submit.value', $this).find('span.success').remove(), 3000)
                    },
                    () => {
                        $('.submit.value', $this).append('<span class="red error"><i class="icon16 no" style="vertical-align: middle"></i>Ошибка сохранения настроек</span>');
                        window.setTimeout(() => $('.submit.value', $this).find('span.error').remove(), 5000)
                    }
                ).always(() => $('.submit.value', $this).find('.loading').remove());
            })
    })(jQuery);
</script>
